In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("Lending-company.csv")

In [8]:
print(data.head())

   LoanID  StringID    Product CustomerGender     Location    Region  \
0       1  LoanID_1  Product B         Female   Location 3  Region 2
1       2  LoanID_2  Product D         Female   Location 6  Region 6
2       3  LoanID_3  Product B           Male   Location 8  Region 3
3       4  LoanID_4  Product A           Male  Location 26  Region 2
4       5  LoanID_5  Product B         Female  Location 34  Region 3

   TotalPrice   StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  \
0     17600.0  04/07/2018     2200         45          365       3221
1         NaN  02/01/2019     2200         45          365       3161
2     16600.0  08/12/2016     1000         45          365       2260
3     17600.0         NaN     2200         45          365       3141
4     21250.0  28/10/2017     2200         55          365       3570

   AmtPaid60  AmtPaid360 LoanStatus
0       4166       14621     Active
1       4096       16041     Active
2       3205       16340        NaN
3       4166       16321     Active
4       4745       14720     Active

In [9]:
data.tail()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043 entries, 0 to 1042
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LoanID          1043 non-null   int64
 1   StringID        1043 non-null   object
 2   Product         1043 non-null   object
 3   CustomerGender  1043 non-null   object
 4   Location        1043 non-null   object
 5   Region          1042 non-null   object
 6   TotalPrice      1018 non-null   float64
 7   StartDate       1042 non-null   object
 8   Deposit         1043 non-null   int64
 9   DailyRate       1043 non-null   int64
 10  TotalDaysYr     1043 non-null   int64
 11  AmtPaid36       1043 non-null   int64
 12  AmtPaid60       1043 non-null   int64
 13  AmtPaid360      1043 non-null   int64
 14  LoanStatus      1006 non-null   object
dtypes: float64(1), int64(7), object(7)
memory usage: 122.4+ KB

In [11]:
data = pd.read_csv("Lending-company.csv", index_col="LoanID")

In [12]:
print(data.head())

        StringID    Product CustomerGender     Location    Region  TotalPrice  \
LoanID
1       LoanID_1  Product B         Female   Location 3  Region 2     17600.0
2       LoanID_2  Product D         Female   Location 6  Region 6         NaN
3       LoanID_3  Product B           Male   Location 8  Region 3     16600.0
4       LoanID_4  Product A           Male  Location 26  Region 2     17600.0
5       LoanID_5  Product B         Female  Location 34  Region 3     21250.0

         StartDate  Deposit  DailyRate  TotalDaysYr  AmtPaid36  AmtPaid60  \
LoanID
1       04/07/2018     2200         45          365       3221       4166
2       02/01/2019     2200         45          365       3161       4096
3       08/12/2016     1000         45          365       2260       3205
4              NaN     2200         45          365       3141       4166
5       28/10/2017     2200         55          365       3570       4745

        AmtPaid360 LoanStatus
LoanID
1            14621     Active
2            16041     Active
3            16340        NaN
4            16321     Active
5            14720     Active